  <!DOCTYPE html>
  <html lang="en">
    {% include 'head.njk' %}
    <body>
      <main>
    <div class="container">
      <div>
<h1 class="title">
        Jakub Iwanowski <small>Frontend developer</small>
      </h1>
      </div>
      <p class="description">
      I'm a Frontend developer who's fascinated with HTML, CSS, JS, and Oxford comma.<span>@</span>
      </p>
      {% include 'experience.njk' %}
      {% include 'education.njk' %}
      {% include 'skills.njk' %}
      <button class="print-btn">
        <div class="printer">
          <div class="printer__body"></div>
<div class="printer__light"></div>
<div class="printer__paper--top"></div>
<div class="printer__paper--bottom">
  <span class="printer__txt"></span>
  <span class="printer__txt"></span>
</div>
        </div>
        Print me
      </button>
    </div>
</main>
    </body>
  </html>
