  <!DOCTYPE html>
  <html lang="en">
    {% include 'head.njk' %}
    <body>
      <main>
    <div class="container">
      <div>
<h1 class="title">
        Jakub Iwanowski <small>Frontend developer</small>
      </h1>
      </div>
      <p class="description">
      I'm a Frontend developer who's fascinated with HTML, CSS, JS, and Oxford comma.<span>@</span>
      <a href="" class="mail">
        test<span class="at">@</span>com.pl
      </a>
      </p>
      {% include 'experience.njk' %}
      {% include 'education.njk' %}
      {% include 'skills.njk' %}
    </div>
</main>
    </body>
  </html>
