
<section class="group">
<h2 class="group__heading">
{{skills.title}}
</h2>
<div class="group__content">
<ul class="skills">
      {%- for skill in skills.skills -%}
<li>
{{skill}}
</li>
      {%- endfor -%}
      </ul>
      </div>
        
      </section>
