@use "reset";
@import url(https://fonts.bunny.net/css?family=abril-fatface:400|jost:400|mallanna:400|quicksand:500);
:root {
  --bg: #fd7700;
  --primary-color: #141542;
  --secondary-color: yellow;
  --container-width: 55rem;
  --btn-bg: #ff1800;
  --btn-txt: #000000;
  --outline-color: #3d1e62;
  --color-printer: #000000;
  --color-printer-contrast: #ffffff;
  --printer-light-printing: #0bff26;
  --step--2: clamp(0.78rem, calc(0.78rem + 0.02vw), 0.8rem);
  --step--1: clamp(0.94rem, calc(0.93rem + 0.06vw), 1rem);
  --step-0: clamp(1.13rem, calc(1.1rem + 0.13vw), 1.25rem);
  --step-1: clamp(1.35rem, calc(1.31rem + 0.21vw), 1.56rem);
  --step-2: clamp(1.62rem, calc(1.55rem + 0.33vw), 1.95rem);
  --step-3: clamp(1.94rem, calc(1.84rem + 0.5vw), 2.44rem);
  --step-4: clamp(2.33rem, calc(2.19rem + 0.72vw), 3.05rem);
  --step-5: clamp(2.8rem, calc(2.6rem + 1.02vw), 3.82rem);
}
body {
  background-color: var(--bg);
  color: var(--primary-color);
  font-family: "Jost", display;
  line-height: 1.7;
}
main {
  padding: 50px 0;
}
h1 {
  font-family: "Abril Fatface", display;
  font-size: var(--step-5);
  font-weight: 400;
}
h2 {
  font-size: var(--step-4);
}
h3 {
  font-size: var(--step-3);
}
h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1.2;
}
p,
ul {
  font-size: var(--step-0);
}
ul {
  list-style-type: square;
  padding-inline-start: 1em;
}
a {
  font-weight: bold;
  color: var(--primary-color);
  position: relative;
  text-decoration: none;
  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    transform: translateY(0.1em);
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    &::before {
      transform: translateY(0.3em);
    }
  }
}
header {
  padding-block-start: 10px;
}
address {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: var(--step-0);
  gap: 0.5em;
}
section {
  padding-block-start: 20px;
}
.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 clamp(0px, var(--container-width) - 100vw + 40px, 20px);
}
.flow > * + * {
  margin-block-start: var(--spacing, 1em);
}
:is(h1, h2, h3, blockquote) {
  --spacing: 1.5em;
}

:is(h1, h2, h3) + * {
  --spacing: 0.5em;
}
:is(h1, h2, h3) + time {
  --spacing: 0.2em;
}
small {
  font-size: 0.5em;
}
.description {
  margin-block-start: 4em;
}
.group {
  --gap: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  &__heading {
    width: min(var(--container-width) * 0.35 - var(--gap), 100vw);
  }
  &__content {
    width: min(var(--container-width) * 0.65, 100vw);
    display: grid;
    gap: 2rem;
  }
  &__time {
    font-style: italic;
    display: block;
  }
  &__relation {
    display: block;
    font-weight: bold;
  }
}
.skills {
  columns: auto min(100vw, var(--container-width) / 8);
}
.social {
  --spacing: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  a {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding-block-end: 0.2em;
    img {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      object-fit: cover;
      object-position: center;
    }
  }
}
.print-btn {
  appearance: none;
  margin: 5em auto 0;
  font-size: var(--step-0);
  padding: 15px 10px;
  border: 2px solid var(--btn-txt);
  border-radius: 10px;
  color: var(--btn-txt);
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  gap: 0.5em;
  background-color: var(--btn-bg);
  cursor: pointer;
  &:hover {
    outline: var(--btn-txt) solid;
    outline-offset: 0.3em;
    .printer__paper--bottom,
    .printer__paper--top {
      transform: translateX(-50%) translateY(0.5em);
    }
    .printer__light {
      background-color: var(--printer-light-printing);
    }
  }
  &:is(:focus, :active) {
    outline: #3d1e62 solid;
    outline-offset: 0.3em;
  }
}
.printer {
  width: 2em;
  height: 1em;
  position: relative;
}
.printer__body {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--color-printer);
  border-radius: 5px;
  z-index: 2;
}
.printer__light {
  border-radius: 100px;
  width: 0.1em;
  height: 0.1em;
  background-color: var(--color-printer-contrast);
  position: absolute;
  right: 0.2em;
  top: 0.2em;
  z-index: 2;
  transition: all 0.5s linear;
}
.printer__paper--bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.3em;
  background-color: var(--color-printer-contrast);
  width: 50%;
  height: 85%;
  border-radius: 2px;
  border: 0.1em solid var(--color-printer);
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-start;
  justify-items: center;
}
.printer__txt {
  width: 80%;
  height: 35%;
  background-color: var(--color-printer);
  border-radius: 2px;
}
.printer__paper--top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.7em;
  background-color: var(--color-printer-contrast);
  width: 50%;
  height: 85%;
  border-radius: 2px;
  border: 0.1em solid var(--color-printer);
  z-index: 1;
}
.printer__paper--top,
.printer__paper--bottom {
  transition: all 0.8s cubic-bezier(1, 0.72, 0.26, 0.03);
}
@import "print";
